html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #ecf0f1;
  height: 100%;
  width: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

select {

  /* styling */
  background-color: white;
  border: thin solid black;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/**************** CONTAINERS AND LAYOUT HELPERS *****************/
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: auto;
  height: 100%;
  width: 100%;
}
.flex-container.row {
  flex-direction: row;
}

.flex-container.column {
  flex-direction: column;
}

.flex-container.page {
  height: 90%;
}

.flex-container .centered{
  margin: auto;
  text-align: center;
}

.flex-container .true-centered {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.huge-header {
  font-size: 64px;
  margin-bottom: 0px;
}

.navbar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end; /* align horizontal */
  align-items: center; /* align vertical */
  width: 100%;
  height: 8%;
  padding: 5px 15px 5px 15px;
  top:0;
  font-weight: 500;
  font-size: 14px;
}


.footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 100%;
  height: 5%;
  position:fixed;
  bottom:0;
  background-color: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.card {
  font-size: 1.25rem;
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
  margin: 25px;
}

.card.h1, .card.h2, .card.h3, .card.h4, .card.h5 {
  font-weight: 300;
}

.important {
  width: 33%;
  max-height: 75%;
}

.secondary {
  width: 25%;
  max-height: 55%;
}