<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>MST MRR Github</title>
  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <!-- CSS  -->
  <link rel="stylesheet" href="static/css/turretcss.min.css">
  <link rel="stylesheet" href="static/css/base.css">

</head>
<body>

  <div class="flex-container page column">

  <div class="centered" style="max-width: 1000px;">

    <div style="margin-bottom: 25px;">
      <div class="huge-header">MST-MRR</div>
      <p>This page isn't quite ready yet.</p>
    </div>

  </div>

  </div>

  <div class="footer">
    Missouri University of Science and Technology &copy; 
    
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
    
  </div>


</body>
</html>